/* Estilos adicionales para la tabla y los inputs */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #8b0000;
    color: white;
    font-size: 16px;
}

td {
    font-size: 14px;
    color: #333;
    background-color: #fff5f5;
}

tr:nth-child(even) {
    background-color: #ffe4e1;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background: linear-gradient(180deg, #8b0000, #ff6347);
    color: white;
    padding: 10px;
    border: 2px solid #ff6347;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    transition: background 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: linear-gradient(180deg, #b22222, #d2691e);
    border-color: #b22222;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
    background: linear-gradient(180deg, #b22222, #8b0000);
}