{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - ANDES</title>
    <link rel="stylesheet" href="{% static 'css/styles-crear-cliente.css' %}">
</head>
<body>

{% block content %}
    
    <div class="form-container">
        <button class="btn-back" onclick="history.back()">Atrás</button>
        <h1>Crear Cliente</h1>
        <p>Por favor, ingresa los detalles del nuevo cliente.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  
            <button type="submit" class="btn">Crear Cliente</button>
        </form>
    </div>
{% endblock %}
