{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles-ventas.css' %}">
    <title>Ventas</title>
</head>
<body>
    <div class="container">
        <h1 class="page-title">Lista de Ventas</h1>

        <div class="search-container">
            <input type="text" id="filtro" placeholder="Buscar venta...">
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.id }}</td>
                        <td>{{ venta.cliente.nombre }}</td>
                        <td>${{ venta.total }}</td>
                        <td>{{ venta.estado }}</td>
                        <td>{{ venta.fecha }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No hay ventas registradas.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
</body>
</html>
